<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<header>
    <nav>
        <ul style="padding:0;">
            <li>
                <a href="/home">Home</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                Authenticated as <span sec:authentication="name"></span>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<section layout:fragment="default-content">
    <p>Your page content goes here</p>
</section>
</body>
</html>