<!DOCTYPE html>
<html lang="de" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>ClubHub</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/config.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
    <!-- Navbar for users which are logged in -->
    <div sec:authorize="isAuthenticated()" class="container-fluid">
        <span class="navbar-brand mb-0 h1">ClubHub</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navBarAuthenticatedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navBarAuthenticatedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" th:href="@{/explore}">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/announcements}">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/groups}">Gruppen</a>
                </li>
                <li th:if="${activeUser}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       th:classappend="${activeUser.getRoles().isEmpty()} ? disabled"
                       href="#" role="button" data-bs-toggle="dropdown">
                        Deine Gruppen
                    </a>
                    <ul class="dropdown-menu">
                        <li th:each="role : ${activeUser.getRoles()}">
                            <a class="dropdown-item"
                               th:href="@{/group/{groupId}/calendar(groupId=${role.getGroup().getId()})}"
                               th:text="${role.getGroup().getName()}"></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Rest Api
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/api/v1/clubs}">Clubs</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item disabled" href="#">Player</a></li>
                        <li><a class="dropdown-item disabled" href="#">Group Event</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" th:href="@{/user/edit}">User Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
            <span th:if="${roleInActiveGroup}" class="navbar-text"
                  th:text="${activeGroup.getName()} + ' (' + ${roleInActiveGroup.getRoleName().name()} + ') '">
            </span>
            <a class="nav-link ms-2 me-4" th:if="${isTrainerInActiveGroup}"
               th:href="@{/group/{groupId}/show(groupId=${activeGroup.getId()})}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
               data-bs-title="Edit Group">
                <i class="bi bi-person-fill-gear"></i>
            </a>
            <a class="nav-link ms-2 me-4" th:if="${activeGroup != null && !isTrainerInActiveGroup}"
               th:href="@{/group/{groupId}/show(groupId=${activeGroup.getId()})}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
               data-bs-title="Show Group">
                <i class="bi bi-person-lines-fill"></i>
            </a>
            <span th:if="${activeUser}" class="navbar-text"
                  th:text="${activeUser.getClub().getName()}"></span>
        </div>
    </div>

    <!-- Navbar for users which are not logged in -->
    <div sec:authorize="isAnonymous()" class="container-fluid">
        <span class="navbar-brand mb-0 h1">ClubHub</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarAnonymousContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navBarAnonymousContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}">Registration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <section layout:fragment="default-content">
        <p>Your page content goes here</p>
    </section>
</div>

</body>
</html>