<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main}">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Add Announcement</title>
</head>
<body>
<section layout:fragment="default-content">
    <h2>Add an announcement for <span th:text="${clubName}"></span></h2>

    <form action="#" th:action="@{/announcement/create}" th:object="${announcement}" method="post">
        <label for="message">Message</label>
        <input type="text" th:field="*{message}" id="message" placeholder="Blabla...">
        <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></p>
        <input type="submit" value="Add announcement">
    </form>
</section>

</body>
</html>