<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main}"
      th:with="activeUser=${activeUser}, activeGroup=${activeGroup}, roleInActiveGroup=${roleInActiveGroup}, isTrainerInActiveGroup=${isTrainerInActiveGroup}">
<head>
    <meta charset="UTF-8">
    <title>Register Club</title>
</head>
<body>
<section layout:fragment="default-content">
    <h2>Register your club in ClubHub</h2>

    <form th:action="@{/clubs/create(update=${registerClub == false})}" th:object="${club}" method="post">
        <div class="mb-3">
            <label for="name">Club Name</label>
            <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Sports Club Regensburg">
            <div th:if="${registerClub == false}">
                <input type="hidden" th:field="*{id}" th:value="${prevId}" id="id" class="form-control">
            </div>
        </div>
        <div th:if="${registerClub}">
            <button type="submit" class="btn btn-primary">Register Club</button>
        </div>
        <div th:unless="${registerClub}">
            <button type="submit" class="btn btn-primary">Update Club</button>
        </div>
    </form>
</section>

</body>
</html>
