<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main}"
      th:with="activeUser=${activeUser}, activeGroup=${activeGroup}, roleInActiveGroup=${roleInActiveGroup}, isTrainerInActiveGroup=${isTrainerInActiveGroup}">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Announcements</title>
</head>
<body>

<section layout:fragment="default-content">
    <h2 class="mb-4 mt-2">All announcements from the club <span th:text="${activeUser.club.name}"></span></h2>

    <div th:switch="${announcementPage.hasContent()}">
        <h5 th:case="false">No announcements for this club yet!</h5>
        <div th:case="true">
            <div class="card mb-4" th:each="announcement : ${announcementPage.getContent()}">
                <h5 class="card-header"
                    th:text="'Announcement @ ' + ${#temporals.format(announcement.createdOn)} + ${announcement.updatedOn != null ? ' (edited ' + #temporals.format(announcement.updatedOn) + ')' : ''}"></h5>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p th:text="${announcement.message}"></p>
                        <footer class="blockquote-footer"
                                th:text="${announcement.user.firstName + ' ' + announcement.user.lastName} + ${announcement.user.id == activeUser.id ? ' (You)' : ''}"></footer>
                    </blockquote>
                </div>
                <div class="card-footer text-muted" th:if="${isTrainerInClub}">
                    <div class="container">
                        <div class="row float-end">
                            <div class="col" th:if="${announcement.user.id == activeUser.id}">
                                <a th:href="@{/announcement/{id}/edit(id=${announcement.id})}">
                                    <i class="bi bi-gear-fill"></i>
                                </a>
                            </div>
                            <div class="col" th:if="${announcement.user.id != activeUser.id}">
                                <i class="bi bi-shield-slash"></i>
                            </div>
                            <div class="col" th:if="${isTrainerInClub}">
                                <a th:href="@{/announcement/{id}/delete(id=${announcement.id})}">
                                    <i class="bi bi-trash-fill text-danger"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="fragments/pagination :: default-pagination (hrefPrefix='/announcements', totalPages=${announcementPage.totalPages}, activePage=${announcementPage.number + 1}, pageSize=${announcementPage.size})"></div>
        </div>
        <p th:if="${isTrainerInClub}"><a href="/announcements/add">Add a new announcement</a></p>
    </div>
</section>

</body>
</html>