<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Announcements</title>
</head>
<body>

<div th:insert="fragments/header"></div>

<h2>All announcements from the club <span th:text="${club.name}"></span></h2>

<div th:switch="${announcementPage.hasContent()}">
    <h2 th:case="false">No announcements for this club yet!</h2>
    <div th:case="true">
        <h2>Announcements</h2>
        <table>
            <thead>
            <tr>
                <th>Message</th>
                <th>User</th>
                <th>Created on</th>
                <th>Updated on</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="announcement : ${announcementPage.getContent()}">
                <td th:text="${announcement.message}"></td>
                <td th:text="${announcement.user.firstName + ' ' + announcement.user.lastName}"></td>
                <td th:text="${announcement.createdOn}"></td>
                <td th:text="${announcement.updatedOn}"></td>
                <td th:if="${announcement.user.id == user.id}"><a
                        th:href="@{/announcement/{id}/edit(id=${announcement.id})}">Edit</a></td>
                <td th:if="${announcement.user.id != user.id}">You can't edit this announcement</td>
                <td th:if="${announcement.user.id == user.id}"><a
                        th:href="@{/announcement/{id}/delete(id=${announcement.id})}">Delete</a></td>
                <td th:if="${announcement.user.id != user.id}">You can't delete this announcement</td>
            </tr>
            </tbody>
        </table>
        <div th:if="${announcementPage.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${#numbers.sequence(1, announcementPage.totalPages)}">
            <a th:href="@{/announcements(size=${announcementPage.size}, page=${pageNumber})}"
               th:text="${pageNumber}"
               th:class="${pageNumber == announcementPage.number + 1} ? active"></a>
        </div>
    </div>
    <p><a href="/announcements/add">Add a new announcement</a></p>
</div>

</body>
</html>