<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Edit Announcement</title>
</head>
<body>

<div th:insert="fragments/header"></div>

<h2>Edit announcement for <span th:text="${announcement.club.name}"></span></h2>

<form action="#" th:action="@{/update-announcement/{id}(id=${announcement.id})}" th:object="${announcement}" method="post">
    <label for="message">Message</label>
    <input type="text" th:field="*{message}" th:value="${announcement.message}" id="message">
    <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>
    <input type="submit" value="Update announcement">
</form>

</body>
</html>