<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main}"
      th:with="activeUser=${activeUser}, activeGroup=${activeGroup}, roleInActiveGroup=${roleInActiveGroup}, isTrainerInActiveGroup=${isTrainerInActiveGroup}">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Edit Group Event</title>
</head>
<body>

<section layout:fragment="default-content">
    <h2>
        Edit group event for <span th:text="${activeGroup.name}"></span>
    </h2>

    <form th:action="@{/group/{groupId}/event/{eventId}/update(groupId=${activeGroup.id}, eventId=${groupEventId})}"
          th:object="${groupEvent}" method="post">
        <div class="mb-3">
            <label for="eventTypeSelect">Event Type</label>
            <select id="eventTypeSelect" class="form-select" th:field="*{eventType}">
                <option value="0">Wähle einen Event Type</option>
                <option th:each="type : ${eventTypes}" th:value="${type}" th:text="${type.description}"></option>
            </select>
            <p th:if="${#fields.hasErrors('eventType')}" th:errors="*{eventType}"></p>
        </div>
        <div class="mb-3">
            <label for="dateInput">Date</label>
            <input id="dateInput" class="form-control" type="date" th:field="*{eventDate}"/>
            <p th:if="${#fields.hasErrors('eventDate')}" th:errors="*{eventDate}"></p>
        </div>
        <div class="mb-3">
            <label for="timeStartInput">Start</label>
            <input id="timeStartInput" class="form-control" type="time" th:field="*{eventStart}"/>
            <p th:if="${#fields.hasErrors('eventStart')}" th:errors="*{eventStart}"></p>
        </div>
        <div class="mb-3">
            <label for="timeEndInput">Ende</label>
            <input id="timeEndInput" class="form-control" type="time" th:field="*{eventEnd}"/>
            <p th:if="${#fields.hasErrors('eventEnd')}" th:errors="*{eventEnd}"></p>
        </div>
        <div class="mb-3">
            <label for="titelInput">Tutel</label>
            <input id="titelInput" class="form-control" th:field="*{title}"/>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        </div>
        <div class="mb-3">
            <label for="descriptionInput">Description</label>
            <input id="descriptionInput" class="form-control" th:field="*{description}"/>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        </div>
        <div class="mb-3">
            <label for="locationSelect">Location</label>
            <select id="locationSelect" class="form-select" th:field="*{location}">
                <option value="0">Wähle eine Location</option>
                <option th:each="location : ${locations}" th:value="${location.id}"
                        th:text="${location.description}"></option>
            </select>
            <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Update group event</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
</section>

</body>
</html>