<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main}"
      th:with="activeUser=${activeUser}">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Account</title>
</head>
<body>

<section layout:fragment="default-content">
    <h2>Account Information</h2>
    
    <form th:action="@{/user/update}" th:object="${user}" method="post">
        <div class="mb-3">
            <label for="firstNameInput">Vorname</label>
            <input id="firstNameInput" class="form-control" th:placeholder="${user.firstName}" th:field="*{firstName}"/>
            <p class="alert alert-danger" role="alert"th:if="${#fields.hasErrors('firstName')}"
	               th:text="${#strings.listJoin(#fields.errors('firstName'), ', ')}"/>
        </div>
        <div class="mb-3">
            <label for="lastNameInput">Nachname</label>
            <input id="lastNameInput" class="form-control" th:placeholder="${user.lastName}" th:field="*{lastName}"/>
            <p class="alert alert-danger" role="alert"th:if="${#fields.hasErrors('lastName')}"
	               th:text="${#strings.listJoin(#fields.errors('lastName'), ', ')}"/>
        </div>
        <div class="mb-3">
            <label for="emailInput">E-Mail</label>
            <input id="emailInput" type="email" class="form-control" th:placeholder="${user.email}" th:field="*{email}"/>
            <p class="alert alert-danger" role="alert"th:if="${#fields.hasErrors('email')}"
	               th:text="${#strings.listJoin(#fields.errors('email'), ', ')}"/>
        </div>
        <div class="mb-3">
            <label for="passwordInput">Passwort</label>
            <input id="passwordInput" type="password" class="form-control" th:field="*{password}"/>
            <p class="alert alert-danger" role="alert"th:if="${#fields.hasErrors('password')}"
	               th:text="${#strings.listJoin(#fields.errors('password'), ', ')}"/>
        </div>
        <button type="submit" class="btn btn-primary">Ändern</button>
        <button type="reset" class="btn btn-secondary">Zurücksetzen</button>
    </form>
</section>

</body>
</html>