<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main}"
      th:with="activeUser=${activeUser}, activeGroup=${activeGroup}, roleInActiveGroup=${roleInActiveGroup}, isTrainerInActiveGroup=${isTrainerInActiveGroup}">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Groups</title>
</head>
<body>

<section layout:fragment="default-content">
    <h2>All groups from the club <span th:text="${activeUser.club.name}"></span></h2></h2>

    <div th:switch="${groupDTOPage.hasContent()}">
        <h5 th:case="false">No groups for this club yet!</h5>
        <div th:case="true">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Member Count</th>
                    <th>Action</th>
                    <th>Members</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="groupDTO : ${groupDTOPage.getContent()}">
                    <td th:text="${groupDTO.name}"></td>
                    <td th:text="${groupDTO.userCount}"></td>

                    <div th:switch="${groupDTO.hasJoined}">
                        <td th:case="true">
                            <a class="btn btn-danger" th:href="@{/group/{id}/leave(id=${groupDTO.id})}">
                                Leave
                            </a>
                        </td>
                        <td th:case="false">
                            <a class="btn btn-success" th:href="@{/group/{id}/join(id=${groupDTO.id})}">
                                Join
                            </a>
                        </td>
                    </div>

                    <div th:switch="${groupDTO.isTrainer}">
                        <td th:case="false">
                            <a th:href="@{/group/{id}/show(id=${groupDTO.id})}"
                               data-bs-toggle="tooltip" data-bs-placement="right"
                               data-bs-title="Show Group">
                                <i class="bi bi-person-lines-fill"></i>
                            </a>
                        </td>
                        <td th:case="true">
                            <a th:href="@{/group/{id}/edit(id=${groupDTO.id})}"
                               data-bs-toggle="tooltip" data-bs-placement="right"
                               data-bs-title="Edit Group">
                                <i class="bi bi-person-fill-gear text-info"></i>
                            </a>
                        </td>
                    </div>

                    <div th:switch="${groupDTO.isTrainer}">
                        <td th:case="false">
                            <i class="bi bi-shield-slash"></i>
                        </td>
                        <td th:case="true">
                            <a th:href="@{/group/{id}/delete(id=${groupDTO.id})}">
                                <i class="bi bi-trash-fill text-danger"></i>
                            </a>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
            <div th:insert="fragments/pagination :: default-pagination (hrefPrefix='/groups', totalPages=${groupDTOPage.totalPages}, activePage=${groupDTOPage.number + 1}, pageSize=${groupDTOPage.size})"></div>
        </div>
        <p><a href="/groups/add">Add a new group</a></p>
    </div>

</section>

</body>
</html>