<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main}">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Login</title>
</head>
<body>

<section layout:fragment="default-content">
    <h2>ClubHub Login</h2>

    <div th:if="${param.error}">
        Ungültige Kombination aus E-Mail and Passwort.
    </div>
    <div th:if="${param.logout}">
        Du wurdest erfolgreich ausgeloggt.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="emailInput" class="form-label">E-Mail</label>
            <input type="email" name="username" class="form-control" id="emailInput">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="passwordInput">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>

</section>

</body>
</html>