<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Registrierung</title>
</head>
<body>
<h1>Registriere dich bei ClubHub</h1>
<form action="#" th:action="@{/user/create}" th:object="${user}" method="POST" id="registration-form">
    <div>
        <label for="firstNameInput">Vorname</label>
        <input id="firstNameInput" th:field="*{firstName}"/>
    </div>
    <div>
        <label for="lastNameInput">Nachname</label>
        <input id="lastNameInput" th:field="*{lastName}"/>
    </div>
    <div>
        <label for="emailInput">E-Mail</label>
        <input id="emailInput" type="email" th:field="*{email}"/>
    </div>
    <div>
        <label for="passwordInput">Passwort</label>
        <input id="passwordInput" type="password" th:field="*{password}"/>
    </div>
    <div>
        <label for="clubSelect">Club</label>
        <select id="clubSelect" th:field="*{club}">
            <option value="0">Wähle einen Club</option>
            <option th:each="club : ${clubs}" th:value="${club.id}" th:text="${club.name}"></option>
        </select>
    </div>
    <button type="submit">Registrieren</button>
</form>

<a th:href="@{/login}">Login</a>
</body>
</html>