<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main}"
      th:with="activeUser=${activeUser}, activeGroup=${activeGroup}, roleInActiveGroup=${roleInActiveGroup}, isTrainerInActiveGroup=${isTrainerInActiveGroup}">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Group Calendar</title>
</head>
<body>

<section layout:fragment="default-content">
    <h2 class="m-4" th:text="${activeGroup.name} + ' calendar from the club ' + ${activeGroup.club.name}"></h2>

    <div class="container text-left">
        <div class="row">
            <div class="col-2">
                <a class="btn btn-outline-primary"
                   th:href="@{/group/{groupId}/calendar(groupId=${activeGroup.id}, month=${currentMonth})}">Aktuell</a>
            </div>
            <div class="col-2">
                <div class="btn-group">
                    <a class="btn btn-outline-secondary"
                       th:href="@{/group/{groupId}/calendar(groupId=${activeGroup.id}, year=${lastYear}, month=${lastMonth})}">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                    <a class="btn btn-outline-secondary"
                       th:href="@{/group/{groupId}/calendar(groupId=${activeGroup.id}, year=${nextYear}, month=${nextMonth})}">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col">
                <h4 th:text="${#temporals.format(selectedIntervalStart)} + ' - ' + ${#temporals.format(selectedIntervalEnd)}"></h4>
            </div>
        </div>
    </div>

    <div th:switch="${groupEvents.isEmpty()}">
        <h5 th:case="true">Empty in here, isn't it?</h5>
        <div th:case="false">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Wochentag</th>
                    <th>Zeitraum</th>
                    <th>Veranstalter</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Location</th>
                    <div th:if="${isTrainerInActiveGroup}">
                        <th>Edit</th>
                        <th>Delete</th>
                    </div>
                </tr>
                </thead>
                <tbody>
                <tr th:each="groupEvent : ${groupEvents}">
                    <th th:text="${#temporals.day(groupEvent.eventDate)}"
                        th:class="${groupEvent.isToday()} ? 'table-success'"></th>
                    <td th:text="${#temporals.monthNameShort(groupEvent.eventDate)} + ', ' + ${#temporals.dayOfWeekNameShort(groupEvent.eventDate)}"></td>
                    <td th:if="${groupEvent.isWholeDay()}" th:text="Ganztägig"></td>
                    <td th:unless="${groupEvent.isWholeDay()}" th:text="${#temporals.format(groupEvent.eventStart, 'HH:mm')} + ' - ' + ${#temporals.format(groupEvent.eventEnd, 'HH:mm')}"></td>
                    <td th:text="${groupEvent.user.firstName + ' ' + groupEvent.user.lastName}"></td>
                    <td th:text="${groupEvent.title}"></td>
                    <td th:text="${groupEvent.eventType.description}"></td>
                    <td th:text="${groupEvent.description}"></td>
                    <td th:if="${groupEvent.location != null}" th:text="${groupEvent.location.description}"></td>
                    <td th:if="${groupEvent.location == null}">No location set</td>
                    <div th:if="${isTrainerInActiveGroup}">
                        <td>
                            <a th:href="@{/group/{groupId}/event/{eventId}/edit(groupId=${activeGroup.id}, eventId=${groupEvent.id})}">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/group/{groupId}/event/{eventId}/delete(groupId=${activeGroup.id}, eventId=${groupEvent.id})}">
                                <i class="bi bi-trash-fill text-danger"></i>
                            </a>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <p th:if="${isTrainerInActiveGroup}"><a th:href="@{/group/{groupId}/events/add(groupId=${activeGroup.id})}">Add a
        new group event</a></p>

</section>

</body>
</html>