<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main}"
      th:with="activeUser=${activeUser}, activeGroup=${activeGroup}, roleInActiveGroup=${roleInActiveGroup}, isTrainerInActiveGroup=${isTrainerInActiveGroup}">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Group Chat</title>
    <script type="text/javascript" th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/chat.js}"></script>
</head>
<body>

<section layout:fragment="default-content">
    <h2 class="m-4" th:text="${chatRoom.name} + ' chat from the group ' + ${chatRoom.getGroup().name}"></h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column vh-100 overflow-hidden ps-3 pe-3">
                    <!--                    <div class="row mb-3">-->
                    <!--                        <div class="btn-group" role="group" aria-label="Basic outlined example">-->
                    <!--                            <button type="button" class="btn btn-outline-primary p-2 bg-white" style="border: 1px solid #ced4da">Overview</button>-->
                    <!--                            <button type="button" class="btn btn-outline-primary bg-white" style="border: 1px solid #ced4da">Tickets</button>-->
                    <!--                            <button type="button" class="btn btn-outline-primary bg-white" style="border: 1px solid #ced4da">...</button>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="row h-50 mb-3 mx-0 overflow-hidden">
                        <div class="container-fluid h-100">
                            <div class="row h-100">
                                <div class="col h-100 p-0 m-0">
                                    <div class="card h-100 border rounded bg-white">
                                        <div class="card-header"> Messages</div>
                                        <div class="card-body p-0 m-0 overflow-hidden">
                                            <div class="list-group h-100 list-group-flush rounded-0">
                                                <div class="h-100 scrollable overflow-auto" style="display: flex; flex-direction: column-reverse">
                                                    <table id="conversation" class="table">
                                                        <tbody id="messages">

                                                        <tr>
                                                            <td class="text-center">
                                                                <a class="btn btn-outline-primary"
                                                                   th:href="@{/group/{groupId}/room/{roomId}/chat(groupId=${chatRoom.getGroup().id}, roomId=${chatRoom.getId()}, size=${chatRoomMessagePage.size + 20})}">
                                                                    Load more
                                                                </a>
                                                            </td>
                                                        </tr>

                                                        <tr th:each="i : ${#numbers.sequence(chatRoomMessagePage.getContent().size() - 1, 0, -1)}"
                                                            th:with="chatMessage = ${chatRoomMessagePage.getContent().get(i)}">

                                                            <div th:switch="${activeUser.id == chatMessage.user.id}">
                                                                <td th:case="true" class="text-end">
                                                                    <p th:text="${chatMessage.message}"></p>
                                                                    <span th:unless="${chatMessage.updatedOn}" class="text-muted" th:text="${#temporals.format(chatMessage.createdOn)}"></span>
                                                                    <span th:if="${chatMessage.updatedOn}" class="text-muted fst-italic" th:text="${#temporals.format(chatMessage.updatedOn)}"></span>
                                                                </td>
                                                                <td th:case="false" class="text-start">
                                                                    <p>
                                                                        <span class="fw-bold" th:text="${chatMessage.user.firstName} + ' ' + ${chatMessage.user.lastName} + ': '"></span>
                                                                        <span th:text="${chatMessage.message}"></span>
                                                                    </p>
                                                                    <span th:unless="${chatMessage.updatedOn}" class="text-muted" th:text="${#temporals.format(chatMessage.createdOn)}"></span>
                                                                    <span th:if="${chatMessage.updatedOn}" class="text-muted fst-italic" th:text="${#temporals.format(chatMessage.updatedOn)}"></span>
                                                                </td>
                                                            </div>

                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <form class="form-inline">
                            <input id="inputUserId" type="hidden" th:value="${activeUser.id}" readonly>
                            <input id="inputChatRoomId" type="hidden" th:value="${chatRoom.id}" readonly>
                            <div class="form-group">
                                <label for="message">Nachricht</label>
                                <input type="text" id="message" class="form-control" placeholder="Your message here...">
                            </div>
                            <button id="send" class="btn btn-primary mt-4" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--    <div id="main-content" class="container vh-25">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-12">-->
    <!--                <table id="conversation" class="table">-->
    <!--                    <thead>-->
    <!--                    <tr>-->
    <!--                        <th>Messages</th>-->
    <!--                    </tr>-->
    <!--                    </thead>-->
    <!--                    <tbody id="messages">-->
    <!--                    <tr th:each="chatMessage : ${chatRoom.getChatRoomMessages()}">-->

    <!--                        <div th:switch="${activeUser.id == chatMessage.user.id}">-->
    <!--                            <td th:case="true" class="text-end" th:text="${chatMessage.message}"></td>-->
    <!--                            <td th:case="false" class="text-start" th:text="${chatMessage.user.firstName} + ' ' + ${chatMessage.user.lastName} + ': ' + ${chatMessage.message}"></td>-->
    <!--                        </div>-->

    <!--                    </tr>-->
    <!--                    </tbody>-->
    <!--                </table>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="row">-->
    <!--        <div class="col-md-6">-->
    <!--            <form class="form-inline">-->
    <!--                <input id="inputUserId" type="hidden" th:value="${activeUser.id}" readonly>-->
    <!--                <input id="inputChatRoomId" type="hidden" th:value="${chatRoom.id}" readonly>-->
    <!--                <div class="form-group">-->
    <!--                    <label for="message">Nachricht...</label>-->
    <!--                    <input type="text" id="message" class="form-control" placeholder="Your message here...">-->
    <!--                </div>-->
    <!--                <button id="send" class="btn btn-primary mt-4" type="submit">Send</button>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="connectionSuccessToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Status</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="'Successfully connected to ' + ${chatRoom.name}"></div>
        </div>
        <div id="connectionFailedToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Status</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="'Failed to connect to ' + ${chatRoom.name}">
                <button id="tryConnectButton" type="button" class="btn btn-primary btn-sm">Try again</button>
            </div>
        </div>
    </div>

</section>

</body>
</html>