<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main}">
<head>
    <meta charset="UTF-8">
    <title>ClubHub Group Calendar</title>
</head>
<body>

<section layout:fragment="default-content">
    <h2><span th:text="${group.name}"></span> calendar from the club <span th:text="${group.club.name}"></span></h2>
    </h2>

    <div>
        <a th:href="@{/group/{groupId}/calendar(groupId=${group.id}, month=${currentMonth})}">Aktuell</a>
        <a th:href="@{/group/{groupId}/calendar(groupId=${group.id}, year=${lastYear}, month=${lastMonth})}"><--</a>
        <a th:href="@{/group/{groupId}/calendar(groupId=${group.id}, year=${nextYear}, month=${nextMonth})}">--></a>
    </div>

    <div>
        <p th:text="${#temporals.format(selectedIntervalStart)} + ' - ' + ${#temporals.format(selectedIntervalEnd)}"></p>
    </div>

    <div th:switch="${groupEvents.isEmpty()}">
        <h3 th:case="true">Empty in here, isn't it?</h3>
        <div th:case="false">
            <h3>Members</h3>
            <table>
                <thead>
                <tr>
                    <th>Creator</th>
                    <th>Day</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Location</th>
                    <div th:if="${isTrainer}">
                        <th>Edit</th>
                        <th>Delete</th>
                    </div>
                </tr>
                </thead>
                <tbody>
                <tr th:each="groupEvent : ${groupEvents}">
                    <td th:text="${groupEvent.user.firstName + ' ' + groupEvent.user.lastName}"></td>
                    <td th:text="${groupEvent.eventDate}"></td>
                    <td th:text="${groupEvent.eventStart}"></td>
                    <td th:text="${groupEvent.eventEnd}"></td>
                    <td th:text="${groupEvent.title}"></td>
                    <td th:text="${groupEvent.description}"></td>
                    <td th:if="${groupEvent.location != null}" th:text="${groupEvent.location.description}"></td>
                    <td th:if="${groupEvent.location == null}">No location set</td>
                    <div th:if="${isTrainer}">
                        <td>
                            <a th:href="@{/group/{groupId}/event/{eventId}/edit(groupId=${group.id}, eventId=${groupEvent.id})}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{/group/{groupId}/event/{eventId}/delete(groupId=${group.id}, eventId=${groupEvent.id})}">Delete</a>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
            <!-- TODO: add some sort of pagination/selector for weekly intervals -->

            <!--    <a th:href="@{/group/{groupId}/calendar(groupId=${group.id}, intervalStart=${#dates.createToday()}, intervalEnd=${#temporals.createNow().plus(#temporals.)})}">Group Calendar</a> -->
            <!--    <div th:if="${rolePage.totalPages > 0}" class="pagination"-->
            <!--         th:each="pageNumber : ${#numbers.sequence(1, rolePage.totalPages)}">-->
            <!--      <a th:href="@{/group/{id}/show(id=${group.id}, size=${rolePage.size}, page=${pageNumber})}"-->
            <!--         th:text="${pageNumber}"-->
            <!--         th:class="${pageNumber == rolePage.number + 1} ? active"></a>-->
            <!--    </div>-->
        </div>
    </div>

    <p th:if="${isTrainer}"><a th:href="@{/group/{groupId}/events/add(groupId=${group.id})}">Add a new group event</a></p>
</section>

</body>
</html>